@model WalletAdmin.Entidades.Tabela_Usuarios
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./Sources/Login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="./Sources/Login/js/owl.carousel.min.js">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Sources/Login/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/Sources/Login/css/style.css">

  </head>
  <body>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="./assets/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Acesse sua <strong>Wallet Admin</strong></h3>
              <p class="mb-4">Seja bem vindo a sua nova carteira digital, com a Wallet Admin você tem tudo em um só lugar</p>
            </div>
            <form action="#" method="post">
              <div class="form-group first">
                <label for="username">Username</label>
                <input asp-for="Usuario" type="text" class="form-control" id="username">

              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input asp-for="Senha" type="password" class="form-control" id="password">
                
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Lembrar-me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a asp-controller="Cadastro" asp-action="Cadastro" class="forgot-pass">Cadastrar-Se</a></span> 
              </div>

              <input asp-controller="Home" asp-action="Index" type="submit" value="Log In" class="btn text-white btn-block btn-primary">
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="./Sources/Login/js/jquery-3.3.1.min.js"></script>
    <script src="/Sources/Login/js/popper.min.js"></script>
    <script src="./Sources/Login/js/bootstrap.min.js"></script>
    <script src="./Sources/Login/js/main.js"></script>
  </body>
</html>